<template>
  <div
      @click="$router.push({ name: 'entry', params:{ id:7 }})"
      class="entry-container mb-3 pointer p-2">

      <div class="entry-title d-flex">
        <span class="text-success fs-5 fw-bold">29</span>
        <span class="mx-1 fs-5">octubre</span>
        <span class="mx-2 fw-light">2021, viernes</span>
      </div>

      <div class="entry-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus enim error incidunt minus mollitia perspiciatis, quibusdam rem rerum temporibus, tenetur veritatis voluptatum. Culpa doloribus dolorum exercitationem minus nam quasi.
      </div>

  </div>
</template>

<script>
export default {
  name: "Entry"
}
</script>

<style lang="scss" scoped>
  .entry-container{

    border-bottom: 1px solid #2c3e50;
    transition: 0.2s all ease-in;

    &:hover{

      background-color: lighten($color: grey, $amount: 45);
      transition: 0.2s all ease-in;

    }

    .entry-description{
      font-size: 12px;
    }

  }

</style>