<template>
  <button class="btn btn-primary">
<!--    <i :class="[ icon ? 'fas fa-2x '+ icon : 'fas fa-2x fa-plus']"></i>-->
    <i class="fas fa-2x"
        :class="icon">
    </i>
  </button>
</template>

<script>
export default {
  name: "Fab",

  props:{
    icon:{
      type:String,
      default: 'fa-plus'
    }
  }
}
</script>

<style lang="scss" scoped>
  button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 100%;

  }
</style>