<template>

  <Navbar/>
  <div class="d-flex">
    <div class="col-4">
      <EntryList/>
    </div>

    <div class="col">
      <router-view />
    </div>

  </div>

</template>

<script>
import { defineAsyncComponent } from "vue";

export default {
  name: "DayBookLayout",
  components: {
    EntryList: defineAsyncComponent(()=>import(/* webpackChunkName "DayBookEntreList" */ '../components/EntryList')),
    Navbar: defineAsyncComponent(()=>import(/* webpackChunkName "DayBookNavBar" */ '../components/Navbar'))
  }
}
</script>

<style scoped>

</style>